<div class="container login">
	<div class="column column-4">

		<form  class="form-horizontal" name="from1" role="form">
			<div class="form-group">
				<label for="control-labe" for="username">Username</label>
				<input class="form-control" type="text"  placeholder="username" required ng-model="user.mail">
				<label for="control-labe" for="password">Password</label> <br>
				<input class="form-control"type="text"  placeholder="password" required ng-model="user.pass">
				<div class="checkbox">
					<label><input type="checkbox"> Remember me</label>
				</div>
				<button  name="submit" class="btn btn-primary"  ng-click="login(user)"> Submit</button>	   
			</div>   
		</form>
	</div>
</div>
<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>

<br>

