 <footer id="footer">
        <div class="container">
            <div class="footer-ribon">
                <span>Kontaktirajte Nas</span>
            </div>
            <div class="row kontakt"> 
            <div class="column column-4">
            <h4><strong>Dizajnersko resenje:</strong></h4>
            <ul>
                <li><i class="fa fa-phone"> </i>  <span>  Telefon: 066 976 89 96</span></li>
                <li><i class="fa fa-envelope-o "></i>  <span>  L.Lawliet46@gmail.com</span></li>

            </ul>
            </div>
            <div class="column column-4">
            <h4><strong>TIM International:</strong></h4>
            <ul>
                <li><i class="fa fa-map-marker"></i> <span>Adresa: Donji Kraj BB - Cetinje</span></li>           
                <li><i class="fa fa-phone"> </i> <span> Telefon: +381 67 454 200</span></li>
                <li><i class="fa fa-envelope-o "> </i> <span>    Email: tomoimilos1@t-com.me</span></li>
            </ul>
            </div>
             <div class="column column-4">
            <h4><strong>Pratite nas:</strong></h4>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                
            </ul>
            </div>

            </div>
        </div>
    </footer>